* {
    margin: 0;
    padding: 0;
  }
  
  .container__text {
    line-height: 34px;
    font-size: 16px;
    width: 300px;
    text-align: center;
    margin: 20px auto;
  }
  
  .btn {
    border: none;
    background: transparent;
    cursor: pointer;
    margin: 50px;
  }
  
  .btn__svg {
    fill: transparent;
    transition: fill 0.4s;
  }
  
  .active {
    fill: #136eef !important;
  }
  
  .limit {
    color: red;
    margin-top: 20px;
    display: none;
  }